@import url(https://fonts.googleapis.com/css?family=Roboto);
.app {
  background-color: white;
  height: 100vh;
}


.font-h2 {
  font-family: 'Helvetica Neue';
  font-size: 18px;
  margin: 0px
}

.font-h1 {
  font-family: 'Helvetica Neue';
  font-size: 36px;
  margin: 0px
}
.font-h3 {
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: bold;
  margin: 0px
}

.font-logo{
  font-family: "Roboto";
  font-size: 26px;
  font-weight: bold;
  margin: 0px;
}